*, *:before, *:after {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

@font-face {
    font-family: "Lato Bold";
    src: url(../fonts/lato-bold-webfont.woff2) format('woff2'),
         url(../fonts/lato-bold-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lato Light";
    src: url(../fonts/lato-light-webfont.woff2) format('woff2'),
         url(../fonts/lato-light-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "Playfair Display";
    src: url(../fonts/playfairdisplay-regular-webfont.woff2) format('woff2'),
         url(../fonts/playfairdisplay-regular-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
	height: 100%;
}
html, body {
	min-height: 100%;
}

body {
	font: 14px/1.3 "Lato Light", sans-serif;
	background-color: #fff;
}

.ba-container {
	background-color:  #ffffff;
	box-shadow: 0px 4px 68px 0px rgba(0, 0, 0, 0.1);
	max-width: 1400px;
	height: 940px;
	padding: 140px 123px;
	margin: 130px 100px;
}

.ba-title {
	font-family: "Playfair Display", serif;
	color:  #171717;
	font-size: 42px;
	font-weight: 400;
	text-align: left;
	margin: 0;
}

.ba-paragraph {
	color:  #171717;
	font: 300 18px/1.8 "Lato Light", sans-serif;
	text-align: left;
	letter-spacing: 0.05;
	opacity: 0.7;
}

.ba-firstletter {
	font: 400 110px/0.8 'Playfair Display', serif;
	color:  #171717;
	text-align: left;
	float: left;
	margin-right: 20px;
}

.ba-quote {
	font: 300 24px/1.4 'Lato', sans-serif;
	font-style: italic;
	color: #7b7b7b;
	letter-spacing: 0.05em;
}

.ba-quote:before {
	margin-right: 24px;
	font-size: 60px;
}

.ba-quote:after {
	content: no-close-quote;
}

.ba-button {
	display: block;
	width: 264px;
	height: 68px;
	text-decoration: none;
	font: 700 18px/1.9 'Lato', sans-serif;
	color:  #eaa258;
	text-align: center;
	border: 2px solid #eaa258;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	padding-top: 25px;
	margin-top: 70px;
}
